@using MVC_8.Models.ViewModels
@model UserRowViewModel

@{
    Layout = null;
    UserRowViewModel m = Model;
}

<div class="row">
    @foreach (string cellData in m.Values){
        <div class="col-sm">
            @cellData
        </div>
    }
    <div class="col-sm">
        <button class="btn btn-danger" onclick="removeItem('@m.Id')">Remove</button>
    </div>
    <div class="col-sm">
        <button class="btn btn-info" onclick="setUserRole('@m.Id','Admin')">Set Admin</button>
    </div>
    <div class="col-sm">
        <button class="btn btn-info" onclick="setUserRole('@m.Id','User')">Set User</button>
    </div>
</div>
