@using MVC_8.Models.Home
@model Person

<div class="row">
    <div class="col-sm">
        @Model.Id
    </div>
    <div class="col-sm">
        @Model.Name
    </div>
    <div class="col-sm">
        @Model.City
    </div>
    <div class="col-sm">
        @Model.Phone
    </div>
    <div class="col-sm">
        <button class="btn btn-danger" onclick="removePerson(this)" value=@Model.Id>Remove</button>
    </div>
    <div class="col-sm">
        <button class="btn btn-info" onclick="personDetails(this)" value=@Model.Id>Details</button>
    </div>
</div>
