@using MVC_8.Models.Home
@model PeopleListViewModel

@{
    Layout = null;
    int nAllPeople = Model.NAllPeople;
    List<Person> people = Model.People;
    string listHeader2 = $"{people.Count} / {nAllPeople} shown";
}

<div class="table">
    <div class="peopleHeader">
        <h3>@listHeader2</h3>
        <input id="inputFilter" type="text" autocomplete="off" onkeydown="onEnterGetPeople(event)" autofocus onFocus="this.select()" size="10" value="@Model.Filter" />
        <button id="getPeopleButton" type="button" class="btn btn-info btn-h3" onclick="getPeople()">GO</button>
        <div class="sectionButtons peopleHeaderLast">
            <button class="btn btn-info btn-h3" onclick="personDetails()">
              <span class="glyphicon glyphicon-plus"></span> Add Person
            </button>
            <button class="btn btn-info btn-h3" onclick="addRandomPerson()">
              <span class="glyphicon glyphicon-plus"></span> Add Random Person
            </button>
            <!-- Test handling of error messages -->  
            @*                
                <button class="btn btn-info btn-h3" onclick="testErrorCode()">
                    <span class="glyphicon glyphicon-plus"></span> Test Error Code
                </button>
                <button class="btn btn-info btn-h3" onclick="testUrlError()">
                    <span class="glyphicon glyphicon-plus"></span> Test URL Error
                </button>
            *@
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="row header-row">
            <div class="col-sm header-cell">Id</div>
            <div class="col-sm header-cell">Name</div>
            <div class="col-sm header-cell">City</div>
            <div class="col-sm header-cell">Phone</div>
            <div class="col-sm header-cell"></div>
            <div class="col-sm header-cell"></div>
        </div>
        @foreach (Person person in people) {
            <partial name="PartialViewRow" model=@person />
        }
    </div>
</div>
