@using MVC_8.Models.ViewModels
@model CityViewModel

@{
    Layout = "_LayoutDetail";
    SelectList CountrySelectList = Model.SelectCountries();
}

<label asp-for="Id" ></label>
<div class="input-group">
    <input readonly type="text" asp-for="Id" size="30" name="id" value=@Model.Id />
</div>

<label asp-for="Name" ></label>
<div class="input-group">
    <input asp-for="Name" size="30" name="name" value=@Model.Name autocomplete="off" onkeydown="onEnterSaveItem(event)" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<label asp-for="CountryId" ></label>
<div class="input-group">
    <select asp-for="CountryId" name="CountryId" value=@Model.CountryId class="form-control" asp-items="@CountrySelectList" onkeydown="onEnterSaveItem(event)"></select>
</div>
