@{
    Layout = "_Layout";
    ViewData["Title"] = "8 - About";
}

<h1>About</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue. Dictum varius duis at consectetur. Ac tincidunt vitae semper quis lectus. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Odio pellentesque diam volutpat commodo. Pulvinar mattis nunc sed blandit libero. Dui sapien eget mi proin. Iaculis urna id volutpat lacus laoreet non curabitur. Vitae suscipit tellus mauris a diam maecenas. Augue mauris augue neque gravida in fermentum. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Eu augue ut lectus arcu. Egestas diam in arcu cursus euismod.
</p>
