@using MVC_8.Models.ViewModels
@model PageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = $"9.2 - {Model.Entity.Names}";
}

<!------------------>
<!-- Item Code  -->
<!------------------>

<div id="EntityCode" hidden data-item-code="@Model.Entity.Code"></div>
<h2>@Model.Entity.Names</h2>
<hr />

<!------------------>
<!-- Details Box  -->
<!------------------>

<div id="detailsBox">
</div>
<hr />

<!------------------>
<!-- Result Table -->
<!------------------>

<div id="itemsList"></div>

<!------------------ -->
<!-- And a script... -->
<!------------------ -->

<script src="/js/JavaScript.js"></script>
