@{
    Layout = "_Layout";
    ViewData["Title"] = "8 - People";
}

<!------------------>
<!-- Details Box  -->
<!------------------>

<div id="detailsBox">
</div>
<hr />

<!------------------>
<!-- Result Table -->
<!------------------>

<div id="peopleList"></div>

<!------------------ -->
<!-- And a script... -->
<!------------------ -->

<script src="/js/JavaScript.js"></script>
